@import 'tailwindcss';
@import './utilities.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.animate-marquee {
  animation: scrollRight 18s linear infinite;
}
.animate-marquee-to-left {
  animation: scrollLeft 18s linear infinite;
}

@keyframes scrollRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
/* body {
  background: var(--background);
  color: var(--foreground);
} */
